backport-util-concurrent/
cglib/
classworlds/
commons-beanutils/
commons-cli/
commons-codec/
commons-collections/
commons-digester/
commons-httpclient/
commons-lang/
commons-logging/
commons-validator/
javax/
jline/
junit/
log4j/
net/
oro/
stax/
xerces/
xml-apis/
org
com/google
com/thoughtworks
!com/github/alien11689
com/github/alien11689/spock-spec-extractor-it/
